<app-create-team (teamCreated)="onTeamCreated($event)"></app-create-team>
<div class="dataviewContainer">
    <p-dataView [value]="teams" [rows]="10" [paginator]="true">
        <ng-template pTemplate="list" let-team>
            <div class="grid grid-nogutter justify-content-center">
                <div class="dataview">
                    <app-team *ngFor="let team of teams" [team]="team" (deletedTeam)="onDeletedTeam($event)"></app-team>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>