<div class="card flex flex-column gap-3 justify-content-center align-items-center vh-100">
    <div class="pt-5">

        <p-inputGroup class="py-2">
            <p-inputGroupAddon>
                <i class="pi pi-users"></i>
            </p-inputGroupAddon>
            <p-floatLabel>
                <input id="username" type="text" pInputText [(ngModel)]="formData.username" />
                <label for="username">Username</label>
            </p-floatLabel>
        </p-inputGroup>
        <p-inputGroup class="py-3">
            <p-inputGroupAddon>
                <i class="pi pi-map-marker"></i>
            </p-inputGroupAddon>
            <p-floatLabel>
                <input id="city" type="text" pInputText [(ngModel)]="formData.city" />
                <label for="city">City</label>
            </p-floatLabel>
        </p-inputGroup>
    </div>
    <p-button label=" Crear equipo" (click)="createTeam()"></p-button>

</div>